<!-- <div class="row">
    <div class="col">
        <img width=200px class="rounded" src="https://cdn.pixabay.com/photo/2022/06/19/11/07/bird-7271620__340.jpg">
    </div>
    <div class="col">
        <img width=230px class="rounded" src="https://cdn.pixabay.com/photo/2016/10/14/19/21/canyon-1740973__340.jpg">
    </div>
    <div class="col">
        <img width=200px class="rounded" src="https://cdn.pixabay.com/photo/2013/10/02/23/03/mountains-190055__340.jpg">
    </div>
    <div class="col">
        <img width=200px class="rounded" src="https://cdn.pixabay.com/photo/2013/04/04/12/34/mountains-100367__340.jpg">
    </div>
</div> -->



<div class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item ">
<img class="rounded-circle" src="https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683__340.png">
<div>
    <p>Android developer</p>
</div>

</div>
<div class="carousel-item active">
<img class="rounded-circle"  src="https://cdn.pixabay.com/photo/2016/10/14/19/21/canyon-1740973__340.jpg">
<div>
    <p>Android developer2</p>
</div>

</div>
<div class="carousel-item">
<img class="rounded-circle"  src="https://cdn.pixabay.com/photo/2015/04/23/22/01/mountains-736886_960_720.jpg">
<div>
    <p>Android developer3</p>
</div>

</div>
</div>

</div>