<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.istockphoto.com/photos/train-switzerland-picture-id1277999909?b=1&k=20&m=1277999909&s=170667a&w=0&h=r0sPIH7_NR7aN3NsPaMGm9tB2J82RL4NQ8rELf-MbkQ=" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/photos/aerial-view-on-zurich-city-in-switzerland-picture-id615269908?b=1&k=20&m=615269908&s=170667a&w=0&h=qs8k4_-OH1KaUK83qqhDHcLCsKp9X5QgfjOhQqDchtU=" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/photos/beautiful-view-of-the-village-in-the-swiss-alps-picture-id171143563?k=20&m=171143563&s=612x612&w=0&h=nV4ZB08guElvZbX9R4xwM5Hve4g0auGESTcjb14pAYU=" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>



<div class="container mt-3">
    <h3 class="text-center">Our team</h3>
    <div class="row">
        <div class="col">
            <h5>Android Developer</h5>
            <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus deleniti laboriosam iusto provident tempore nam ducimus excepturi possimus nemo commodi?</p>
        </div>
    <div class="col">

        
        <h5>Dotnet Developer</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. A assumenda possimus quod ipsam nihil odio eos omnis fugiat modi veritatis?
        </p>
    </div>
    <div class="col">
        <h5>UI Developer</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste nam obcaecati ratione est nobis veniam vitae labore maxime voluptate delectus.
        </p>
    </div>
    </div>
</div>